.side-list-1 {
  li + li {
    padding-top: 10px;
  }
  li:before {
    content:"\f18e";
    padding-right: 10px;
    font-family:'FontAwesome';
  }
  li:before,
  li a {
    color: #1c1c1c;
  }
  li:hover:before,
  li a:hover {
    color: #fe4445;
  }
  li a {
    font-weight: bold;
  }
}